<a href="https://colab.research.google.com/github/dylanesq/100daysML/blob/main/Ankan_NETFLIX_EDA_(questions_practice_challenge).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
shivamb_netflix_shows_path = kagglehub.dataset_download('shivamb/netflix-shows')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

**ABOUT NOTEBOOK**
* This Notebook is for EDA practice on given NETFLIX Dataset
* It has some  good set of questions for Data analysis
* It contains all questions necessary for data analysis
* This NoteBook can be considered as a **Good practice/Challenge for Beginners and Intermediate learners**
* Some questions are provided below , this notebook also consists of some multiple solutions to the questions
* I invite you all to kindly solve and donate more questions or other answers for these questions

**kindly upvote :)**

**QUESTIONS**
 * Task.1) Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records.
 * Task. 2) Is there any Null Value present in any column ? Show with Heat-map.
* Q. 1) For 'House of Cards', what is the Show Id and Who is the Director of this show ?
* Q. 2) In which year the highest number of the TV Shows & Movies were released ? Show with Bar Graph.
* Q. 3) How many Movies & TV Shows are in the dataset ? Show with Bar Graph.
* Q. 4) Show all the Movies that were released in year 2000.
* Q. 5) Show only the Titles of all TV Shows that were released in India only.
* Q. 6) Show Top 10 Directors, who gave the highest number of TV Shows & Movies to Netflix ?
* Q. 7) Show all the Records, where "Category is Movie and Type is Comedies" or "Country is United Kingdom".
* Q. 8) In how many movies/shows, Tom Cruise was cast ?
* Q. 9) What are the different Ratings defined by Netflix ?
   * Q. 9.1) How many Movies got the 'TV-14' rating, in Canada ?
   * Q. 9.2) How many TV Shows got the 'R' rating, after year 2018 ?
* Q. 10) What is the maximum duration of a Movie/Show on Netflix ?
* Q. 11) Which individual country has the Highest No. of TV Shows ?
* Q. 12) How can we sort the dataset by Year ?
* Q. 13) Find all the instances where: Category is 'Movie' and Type is 'Dramas' or Category is 'TV Show' & Type is 'Kids' TV'.** Task. 1) Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records."Country is United Kingdom".

In [ ]:
#IMPORTING THE LIBRARY
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/kaggle/input/netflix-shows/netflix_titles.csv')
df.head()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.size

In [ ]:
df.dtypes

**1) Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records.**

In [ ]:
df[df.duplicated()]

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.shape

**Task. 2) Is there any Null Value present in any column ? Show with Heat-map.**

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull()

In [ ]:

sns.heatmap(df.isnull())

**Q. 1) For 'House of Cards', what is the Show Id and Who is the Director of this show ?**

In [ ]:
df.head()

In [ ]:
df[df['title'].isin(['House of Cards'])]

In [ ]:
df[df['title'].str.contains('House of Cards')]

**2) In which year the highest number of the TV Shows & Movies were released ? Show with Bar Graph.**

In [ ]:
df.info()

In [ ]:

df.release_year.value_counts().plot(kind ='bar')

In [ ]:
plt.figure(figsize = (20, 5))
sns.barplot(df.release_year  ,df.release_year.value_counts() )

**3) How many Movies & TV Shows are in the dataset ? Show with Bar Graph.**

In [ ]:
df.type.value_counts().plot(kind = 'bar')

In [ ]:
df.groupby('type').type.count().plot(kind  ='bar')

In [ ]:
sns.countplot(df['type'])

In [ ]:
df.columns

**Q. 4) Show all the Movies that were released in year 2000**

In [ ]:
df[(df.type == 'Movie') & (df.release_year == 2000)]['title']

**Q. 5) Show only the Titles of all TV Shows that were released in India only.**

In [ ]:
df[(df.country == 'India') & (df.type == 'TV Show')]['title']

**Q. 6) Show Top 10 Directors, who gave the highest number of TV Shows & Movies to Netflix ?**

In [ ]:
df['director'].value_counts().head(10)

**Q. 7) Show all the Records, where "Category is Movie and Type is Comedies" or "Country is United Kingdom".**

In [ ]:
df[(df.type =='Movie') &(df.listed_in =='Comedies')|(df.country == 'United Kingdom')]

In [ ]:
df.cast

**Q. 8) In how many movies/shows, Tom Cruise was cast ?**

In [ ]:
#str .contains does not work on empty nan values we need to remove nan values

df_new = df.dropna()
df_new[df_new.cast.str.contains('Tom Cruise')]

In [ ]:
df_new[df_new.cast.str.contains('Tom Cruise')]['title'].value_counts().sum()

**Q. 9) What are the different Ratings defined by Netflix ?**

In [ ]:
df.rating.values

In [ ]:
df.rating.unique()

In [ ]:
df.rating.nunique()

**.1) How many Movies got the 'TV-14' rating, in Canada ?**

In [ ]:
df[(df.type == 'Movie')& (df.rating == 'TV-14')&(df.country == 'Canada')].shape[0]

**. 9.2) How many TV Shows got the 'TV-MA' rating, after year 2018 ?**

In [ ]:
df[(df.type == 'TV Show') & (df.rating == 'TV-MA') &(df.release_year >2018)].shape[0]

**10) What is the maximum duration of a Movie/Show on Netflix ?**

In [ ]:
df.duration.unique()

In [ ]:
df.duration.dtypes

In [ ]:
df[['minutes' , 'unit']] = df.duration.str.split(' ' ,expand = True)

In [ ]:
df.head()

In [ ]:
df['minutes'] = pd.to_numeric(df['minutes'])

In [ ]:
df['minutes'].max()

**11) Which individual country has the Highest No. of TV Shows ?**

In [ ]:
df[df.type == 'TV Show']['country'].value_counts().head(1)

**Q. 12) How can we sort the dataset by Year ?**

In [ ]:
df.sort_values(by = 'release_year')

In [ ]:
df.sort_values(by = 'release_year',ascending=False)

**13) Find all the instances where: Category is 'Movie' and Type is 'Dramas' or Category is 'TV Show' & Type is 'Kids' TV'**

In [ ]:
df[((df.type == 'Movie')&(df.listed_in =='Dramas'))|((df.type == 'TV Show')&(df.listed_in =='Kids'))]